@import '../../styles/keyframes.scss';
.secondBreakfastComp{
    background: url("../../image/second_breakfast.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include showImgBackground
}