$colorText: black;
$colorTextBack: white;
.questionComp{
    text-align: center;
    margin: 0 auto;
    background: transparent;
    .questionComp__title{
        position: relative;
        display: inline-block;
        font-family: 'Nunito', sans-serif;
        font-size: 2rem;
        font-weight: 800;
        color: $colorText;
        background: $colorTextBack;
        padding: 15px 20px;
        .fa-question{
            position: absolute;
            font-size: 7rem;
            color: rgba(0,0,0,0.7);
            top: -20px;
            right: -35px; 
            /* transform: translate(-50%, -50%); */
        }
        .quest2{
            position: absolute;
            font-size: 7rem;
            color: rgba(0,0,0,0.4);
            top: -20px;
            right: -45px; 
            /* transform: translate(-50%, -50%); */
        }
    
    }
}
